/*
Original design: Variant Multi (v1.0 - Dec 15th, 2010) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/variant-multi/
*/

*{margin:0;padding:0;}
body{background:#2e5b7c;color:#444;font:76% Verdana,Helvetica,sans-serif;}
p{line-height:1.7em;margin-bottom:15px;}
a{color:#467aa7;}
a:hover{color:#333;}
h1{color:#2a5a7a;font-family:Georgia,serif;font-size:2.4em;}
h2{color:#467aa7;font-family:Georgia,serif;font-size:2.2em;font-weight:400;margin:0 0 10px 0;}
h3{color:#467aa7;font-family:Georgia,serif;font-size:1.6em;font-weight:400;margin:0 0 8px;}
ul,ol,dl{margin:0 0 20px 20px; padding:0;}
li{padding-bottom:5px;}

#containerfull,#container980,#container760,#container600{margin:0 auto;padding:0;overflow:hidden;border-left:1px solid #333;border-right:1px solid #333;}
#containerfull{width:100%;border:0;}
#container980{width:980px;}
#container760{width:760px;}
#container600{width:600px;}

#header{background-color:#326489;margin:0 auto;padding:10px 25px;}
#header h1{margin:0;padding:20px 0 10px;}
#header h1 a{color:#eee;font-family:Georgia,serif;font-size:2em;font-weight:400;text-decoration:none;}
#header h2{color:#ddd;padding:0 0 10px 25px;margin:0;font-family:Georgia,serif;font-size:1.8em;font-weight:400;}

#menu{background-color:#467aa7;height:40px;}
#menu ul{float:right;height:40px;list-style:none;margin:0;padding:0 25px 0 0;}
#menu ul li{background-color:#2a5a7a;display:block;float:left;margin:0 0 0 5px;padding:0;}
#menu ul li a{background-color:#2a5a7a;color:#ddd;display:block;font-size:1.4em;padding:10px 12px;text-decoration:none;}
#menu ul li a:hover{color:#fff;}
#menu ul li a.current{background-color:#eee;color:#333;border-bottom:1px solid #eee;}

#feature{background-color:#eee;color:#555;padding:25px 25px 5px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
#feature h2{color:#467aa7;font-size:2em;line-height:1em;}
#feature p{font-size:1.3em;margin:0 0 15px 0; line-height:1.5em;}

#main{clear:both;margin:0;background-color:#fff;padding:25px 25px 5px;}
#content{width:100%;}

#sidebar{background:transparent url('images/sidebar-top.jpg') no-repeat scroll top left;float:right;width:25%;}
#sidebar .sidebarbox {margin:0 0 25px 0;background-color:#fff; border:1px solid #467aa7;}
#sidebar p{margin:10px 0 10px 10px;}
#sidebar ul{list-style:none;margin:10px 0 10px 10px;padding:0;}
#sidebar ul li{margin:0 0 5px 0;}
#sidebar ul li a{color:#467aa7;font-weight:400;}
#sidebar ul.sidemenu {margin:0;}
#sidebar ul.sidemenu li{display:inline;padding:0;margin:0;}
#sidebar ul.sidemenu li a{display:block;padding:7px 5px 6px 10px;font-size:1.2em; font-weight:400;text-decoration:none;border-bottom:1px solid #ddd;}
#sidebar ul.sidemenu li a:hover{background-color:#eee;color:#333;border-bottom:1px solid #ccc;}
#sidebar ul.sidemenu ul{margin:0;padding:0;font-size:0.9em;border-bottom:1px solid #ccc;}
#sidebar ul.sidemenu ul li a{padding:5px 5px 5px 25px;border:0;font-weight:400;}
#sidebar ul.sidemenu ul li a:hover{border:0;}
#sidebar ul li a:hover{color:#333;}
#sidebar h2{background-color:#467aa7;color:#fff;font-size:1.5em;margin:0 0 0 0;padding:10px;}
#sidebar h3{font-size:1.4em; padding:10px 10px 0 10px;}

#footer{background-color:#ddd;margin:0 auto;padding:20px 25px 10px;border-top:1px solid #ccc;}
#footer h2{color:#467aa7;font-weight:400;font-size:1.5em;}
#footer p{color:#555;margin:0 0 10px 0;padding:0;}
#footer ul{border-top:1px solid #ccc;list-style:none;margin:0 0 15px 0;padding:0;}
#footer ul li{padding:0;margin:0;}
#footer ul li a{border-bottom:1px solid #ccc;color:#333;display:block;padding:7px 10px;text-decoration:none;}
#footer ul li a:hover{background-color:#eee;}

#footersections{display:block;margin:0 auto;}
#footersections .half{float:left;margin:0 3% 0 0;width:47%;}
#footersections .lasthalf{float:left;margin:0;width:50%;}
#footersections .quarter{float:left;margin:0 3% 0 0;width:22%;}
#footersections .lastquarter{float:left;width:25%;margin:0;}

#credits{background-color:#333;color:#aaa;padding:5px 15px;}
#credits p{text-align:left;font-size:1.0em;margin:0;padding:0;line-height:1.2em;}
#credits a{color:#aaa;font-weight:400;}

.left{float:left;width:49%;}
.right{float:right;width:48%;}
.clear{clear:both;visibility:hidden;}
.small{font-size:0.8em;}

.signup_error {
color:#FF0000;
font-weight:bold
}   
    


label {
    font-family: Verdana,Helvetica,sans-serif;
    text-shadow: 2px 2px 2px #ccc;
    display: block;
    float: left;
    font-weight: bold;
    margin-right:10px;
    text-align: right;
    width: 160px;
    line-height: 25px;
    font-size: 15px;
}
    
.input{
    font-family: Arial, Verdana;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #b9bdc1;
    width: 300px;
    color: #797979;
    margin-bottom:20px;
}

    
.drop{
    font-family: Arial, Verdana;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #b9bdc1;
    width: 312px;
    color: #797979;
    margin-bottom:20px;
}
    
.hint{
    display:none;
}
    
.field:hover .hint {
    position: absolute;
    display: block;
    margin: -51px 0 0 485px;
    color: #FFFFFF;
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.6);
 
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
    
.button{
    float: left;
    margin:0px 0px 10px 417px;
    font-weight: bold;
    line-height: 1;
    padding: 6px 10px;
    cursor:pointer;
    color: #fff;
 
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
 
    /* Background gradient */
    background: #326489;
    background: -moz-linear-gradient
       (top, #326489 0%, #326489 100%);
 
    /* Border style */
    border: 1px solid #326489;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 
}

th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #ddd;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

th.spec {	
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
}

th.specalt {
	border-left: 1px solid #000;
	border-top: 0;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #000;
}

td {
	border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	padding: 6px 6px 6px 12px;
}


td.alt {
	background: #F5FAFA;
}